<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Name - Portfolio</title>
    <link rel="stylesheet" href="l2.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&amp;display=swap" rel="stylesheet">
  </head>
  <body data-theme="normal">
    <div id="container">
      <header>
        <nav>
          <ul>
            <li id="far-left">>_Name</li>
            <li class="right rightt"><a href="#">Home</a></li>
            <li class="right"><a href="#about">About</a></li>
            <li class="right"><a href="#skills">Skills</a></li>
            <li class="right"><a href="#projects">Projects</a></li>
            <li class="right"><a href="#contact">Contact</a></li>
          </ul>
        </nav>
      </header>

      <main>
        <div id="intro">
          <div id="data">
            <h1>Hi, I am Your Name!</h1>
            <p>
              Things that you do. Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Sed ipsum magnam sit voluptates totam? Ipsa,     tempora. Possimus saepe atque vitae minima. Nobis voluptates
              aspernatur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam omnis ut quod eum aliquid nostrum ipsa autem pariatur in expedita. Explicabo, nulla temporibus inventore dolorem minus minima tenetur sed accusantium.
            </p>
            <div id="intro-buttons">
              <button>
                <a href="#projects" id="view-projects">View Projects</a>
              </button>
              <button id="contactt">
                <a href="#contact" id="contat">
                    <i class="fas fa-paper-plane icon"></i>
                    Contact Me
                </a>
              </button>
            </div>

        </div>
        <div id="image-div">
          <img src="" alt="." />
        </div>

        </div>

        <div id="about">
            <h2>About Me:</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non recusandae amet incidunt aspernatur, voluptate rem molestias maiores porro quidem provident, eum nisi eaque eos sunt nesciunt, quis necessitatibus et ipsam?Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi quisquam sint tenetur eaque libero ab laborum officiis, quaerat enim quo nemo laboriosam repellat maiores aliquam est! Eius consequatur blanditiis ea. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis illo sit ipsum eveniet laudantium est ipsa cumque atque suscipit voluptas amet quaerat maxime aspernatur, veniam porro dolorum earum, quas enim.</p>
        </div>

        <div id="skills">
          <div id="skills-title">
            <h2>Skills</h2>
            <p>Technologies I have learnt until now!</p>
          </div>

          <div id="skills-content">
            <div class="skill">
              <span class="title-icon">
                <i class="fab fa-html5 skill-icon"></i>
              </span>
              <h3>HTML & CSS</h3>
              <p>Designing different type of websites with creativity and adding responsiveness.</p>
            </div>

            <div class="skill">
              <span class="title-icon">
                <i class="fab fa-js"></i>
              </span>
              <h3>Java Script</h3>
              <p>Doing logical part of websites, working with canvas, using Web Audio API and etc.</p>
            </div>

            <div class="skill">
              <span class="title-icon">
                <i class="fab fa-node-js"></i>
              </span>
              <h3>Node.Js</h3>
              <p>Exploring backend, working and making apis. Making different small fullstack apps. </p>
            </div>

          </div>

        </div>

        <div id="projects">
          <div id="projects-title">
            <h2>My Projects:</h2>
            <p>Here are my best projects that I have made throughout my journey!</p>
          </div>

          <div id="projects-content">
            <div class="project">
              <h3>Project_1</h3>
              <p>This is a simple project which does blah blah blah blah and made by me using blah blah blah, it can be used for blah blah blah blah.</p>

              <a class="project-button" href="https://demolinkprovide.vercel.app">Visit </a>
            </div>

            <div class="project">
              <h3>Project_2</h3>
              <p>This is a simple project which does blah blah blah blah and made by me using blah blah blah, it can be used for blah blah blah blah.</p>

              <a href="https://demo.link" class="project-button">Visit</a>
            </div>

            <div class="project">
              <h3>Project_3</h3>
              <p>This is a simple project which does blah blah blah blah and made by me using blah blah blah, it can be used for blah blah blah.</p>

              <a href="http://demo.link" class="project-button">Visit</a>
            </div>

            <div class="project">
              <h3>Project_4</h3>
              <p>This is a simple project which does blah blah blah blah blah and made by me using blah blah blah, it can be used for blah blah blah.</p>

              <a href="https://demo.link" class="project-button">Visit</a>
            </div>

          </div>

        </div>

        <div id="contact">
          <div id="contact-title">
            <h2>Contact Me</h2>
            <p>You can get in touch with me by various mediums which are given below.</p>
          </div>

          <div id="contact-content">

            <div id="location" class="contact-infos">
              <span class="contact-icon">
              <i class="fas fa-map-marker-alt contact-logo"></i>
                </span>
              <div class="location-info contact-infoos">
                <h3>Location</h3>
                <p>Your, Location</p>
              </div>
            </div>

            <div id="phoneno" class="contact-infos">
              <a href="tel:9810011010">
              <span class="contact-icon">
                <i class="contact-logo fas fa-phone-alt"></i>
              </span>
              </a>
              <div class="phoneno-info contact-infoos">
                <h3>Phone No</h3>
                <p>1010101010</p>
              </div>
            </div>

            <div id="mail" class="contact-infos">
              <a href="mailto:youremail123@gmail.com">
              <span class="contact-icon">
                <i class="contact-logo fas fa-envelope"></i>
              </span>
              </a>
              <div class="mail-info contact-infoos">
                <h3>Mail</h3>
                <p>youremail123@gmail.com</p>
              </div>
            </div>

            <div id="github" class="contact-infos">
              <a href="https://github.com/....">
              <span class="contact-icon">
                <i class="contact-logo fa-brands fa-github"></i>
              </span>
                </a>
              <div class="github-info contact-infoos">  
                <h3>Github</h3>
                <p>@Username</p>
              </div>
            </div>

            <div id="linkedin" class="contact-infos">
              <a href="https://linkedin.com/...">
                <span class="contact-icon">
                  <i class="contact-logo fab fa-linkedin"></i>
                </span>
              </a>
              <div class="linkedin-info contact-infoos">
                <h3>Linkedin</h3>
                <p>@Username</p>
              </div>
            </div>

          </div>

        </div>

      </main>
    </div>
    <script src="l2.js"></script>
  </body>
</html>