<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Name - Portfolio</title>
    <link rel="stylesheet" href="l2.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
  </head>
  <body data-theme="normal">
    <div id="container">
      <header>
        <nav>
          <ul>
            <li id="far-left">>_Name</li>
            <li class="right rightt"><a href="#">Home</a></li>
            <li class="right"><a href="#about">About</a></li>
            <li class="right"><a href="#skills">Skills</a></li>
            <li class="right"><a href="#projects">Projects</a></li>
            <li class="right"><a href="#contact">Contact</a></li>
          </ul>
        </nav>
      </header>

      <main>
        <div id="intro">
          <div id="data">
            <h1>Hi, I am Your Name!</h1>
            <p>
              Things that you do. Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Sed ipsum magnam sit voluptates totam? Ipsa,     tempora. Possimus saepe atque vitae minima. Nobis voluptates
              aspernatur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam omnis ut quod eum aliquid nostrum ipsa autem pariatur in expedita. Explicabo, nulla temporibus inventore dolorem minus minima tenetur sed accusantium.
            </p>
            <div id="intro-buttons">
              <button>
                <a href="#projects" id="view-projects">View Projects</a>
              </button>
              <button id="contactt">
                <a href="#contact" id="contact">
                    <i class="fas fa-paper-plane icon"></i>
                    Contact Me
                </a>
              </button>
            </div>

        </div>
        <div id="image-div">
          <img src="" alt="." />
        </div>

        </div>

        <div id="about">
            <h2>About Me:</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non recusandae amet incidunt aspernatur, voluptate rem molestias maiores porro quidem provident, eum nisi eaque eos sunt nesciunt, quis necessitatibus et ipsam?Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi quisquam sint tenetur eaque libero ab laborum officiis, quaerat enim quo nemo laboriosam repellat maiores aliquam est! Eius consequatur blanditiis ea. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis illo sit ipsum eveniet laudantium est ipsa cumque atque suscipit voluptas amet quaerat maxime aspernatur, veniam porro dolorum earum, quas enim.</p>
        </div>

        <div id="skills">
            
        </div>

      </main>
    </div>
    <script src="l2.js"></script>
  </body>
</html>
