<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio - Name</title>
    <link rel="stylesheet" href="l3.css">
</head>
<body data-theme="autumn">
    <div id="container">
        <header>
            <nav>
                <ul>
                    <li class="logo">
                        <h2 id="logo">
                        Name
                        </h2>
                    </li>
                    <li class="right">
                        <a href="#about">
                            About
                        </a>
                    </li>
                    <li>
                        <a href="#skills">
                            Skills
                        </a>
                    </li>
                    <li>
                        <a href="#projects">
                            Projects
                        </a>
                    </li>
                    <li>
                        <a href="#contact">
                            Contact
                        </a>
                    </li>   
                </ul>
            </nav>
        </header>

        <main>

            <div id="about">
                <h2>About  <span id="colorr"> Me</span></h2> 
                <div id="about-img">
                    <img src="...." alt="No Image">
                </div>

                <div id="about-info">
                    <h2>Hi, I am BRUH</h2>
                    <p id="about-data">I am a normal highschooler with a big passion in coding and making as well as trying different new things. I want to do something big, something that people would remember throught centuries!</p>

                    <div id="linkss">
                        <a href="https://67">
                            <i></i>
                        </a>
                        <a href="https://bruh.com">
                            <i></i>
                        </a>
                        <a href="https://github.com">
                            <i></i>
                        </a>
                        <a href="https://slack.com">
                            <i></i>
                        </a>
                    </div>

                </div>


            </div>
        </main>

    </div>

    <script src="l3.js"></script>
</body>
</html>