<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio - Name</title>
    <link rel="stylesheet" href="l3.css">
</head>
<body data-theme="autumn">
    <div id="container">
        <header>
            <nav>
                <ul>
                    <li class="logo">
                        <h2 id="logo">
                        Name
                        </h2>
                    </li>
                    <li class="right">
                        <a href="#about">
                            About
                        </a>
                    </li>
                    <li>
                        <a href="#skills">
                            Skills
                        </a>
                    </li>
                    <li>
                        <a href="#projects">
                            Projects
                        </a>
                    </li>
                    <li>
                        <a href="#contact">
                            Contact
                        </a>
                    </li>   
                </ul>
            </nav>
        </header>

        <main>

            <div id="about">

                <div id="about-title">
                    <h2>About Me</h2> 
                </div>
                <div id="about-others">
                <div id="about-img">
                    <img src="...." alt="No Image">
                </div>

                <div id="about-info">
                    <h2>Hi, I am BRUH</h2>
                    <p id="about-data">I am a normal highschooler with a big passion in coding and making as well as trying different new things. I want to do something big, something that people would remember throught centuries!</p>

                    <div id="linkss">
                        <a href="https://github.com"> Github
                            <i></i>
                        </a>
                        <a href="https://slack.com"> Slack
                            <i></i>
                        </a>
                    </div>

                </div>
                </div>


            </div>

            <div id="skills">
                <div id="skills-title">
                    <h2>My Skills</h2>
                    <p>All the things I have learnt until now throughout my journey!</p>
                </div>
                <div id="skills-info">
                    <div class="skill">
                        <h3>Skill No. 1</h3>
                        <p>I learnt this skill while doing this blah blah blah blah blah blah blah blah blah blah</p>
                    </div>
                    <div class="skill">
                        <h3>Skill No. 2</h3>
                        <p>I learnt this skill in order to blah blah blah blah blah blah and I made this blah blah.</p>
                        
                    </div>
                    <div class="skill">
                        <h3>Skill No. 3</h3>
                        <p>I learnt this skill in order to blah blah blah blah blah blah and I made this blah blah.</p>
                        
                    </div>
                    <div class="skill">
                        <h3>Skill No. 4</h3>
                        <p>I learnt this skill in order to blah blah blah blah blah blah and I made this blah blah.</p>
                        
                    </div>
                </div>
            </div>

            <div id="projects">
            <div class="projects-title">
                <h2>My Projects</h2>
                <p>Down here are the projects I made along the way, made by dedication and hardwork of mine.</p>
            </div>
            <div class="projects-info">
                <div class="project">
                    <h3>Project No. 1</h3>
                    <p>Project_name is a blah blah blah blah which does blah blah blah</p>

                    <div id="links">
                        <a href="https://project.demo">
                            <i></i>
                        </a>
                        <a href="https://github.com/...">
                            <i></i>
                        </a>
                    </div>
                    
                </div>

                <div class="project"></div>
                <div class="project"></div>
                <div class="project"></div>
            </div>
            </div>

        </main>

    </div>

    <script src="l3.js"></script>
</body>
</html>