:root, [data-theme="normal"]{
    --bg: #0c2351;
    --bg-sections: #172b5d5e;
    --text: #fff;
    --button: rgb(195,26,26);
    --border: #d1d5db2c;
}
:root,
[data-theme="midnight"] {
    --bg: #080b18;
    --bg-sections: #151a2e;
    --text: #f5f7ff;
    --button: #6c63ff;
    --border: #ffffff1f;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--bg);
    color: var(--text);
    font-family: 'Courier New', Courier, monospace;
}
#container{
    width: 100vw;
}
nav{
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--border);
    height: 60px;
}
ul{
    margin: 10px;
    display: flex;
    flex-direction: row;
    padding: 15px;
    gap: 50px;
    list-style: none;
}
.righttt{
    margin-left: 67vw;
}
#far-left h3{
    font-size: 24px;
}
a{
    text-decoration: none;
    color: #fff;
}
#introoo{
    height: 510px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
    gap: 1rem;
    border-bottom: 2px solid var(--border);
}
#code-block{
    height: 300px;
    font-size: 0.9rem;
    position: relative;
    background-color: #0d101b;
    border: 2px solid var(--border);
    border-radius: 16px;
    padding: 1.2rem;
}
.code-header{
    display: flex;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid var(--border);
    gap: 0.5rem;
}
.code-red{
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background-color: red;
}
.code-orange{
    background-color: orange;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}
.code-green{
    background-color: green;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}
.code-content{
    margin-top: 15px;
}
.keyword{
    color: #d73a49;
}
.string{
    color: #1ee24c;
}
.textt{
    color: #005cc5;
}
.code-line{
    margin-bottom: 10px;
}
#intro{
    margin-left: 50px;
}
#intro h2{
    font-size: 3.5rem;
}
#name{
    color: var(--button);
}
button{
    height: 45px;
    width: 120px;
    background-color: var(--button);
    border-radius: 16px;
    color: #fff;
    margin-top: 10px;
}
#about{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 1.7rem;
    margin-left: 5%;
}
#hero h1{
    display: flex;
    font-size: 3.5rem;
    font-weight: 800;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
}
#hero{
    margin-top: 70px;
    height: 770px;
    border-bottom: 2px solid var(--border);
}
#your-image img{
    height: 500px;
    width: 400px;
    border-radius: 15px;
}
#your-image{
    flex-shrink: 0;
}
#your-data{
    margin-left: 25px;
    flex-grow: 1;
    max-width: 800px;
    margin-bottom: 20px;
}
#your-info{
    word-break: break-all;
}
#skils{
    margin-top: 10px;
}
#projects{
    background-color: var(--bg-sections);
    padding: 80px;
    margin-top: 20px;
    width: 100%;
    border-bottom: 2px solid var(--border);
}
#projects-title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 50px;
}
#projects-title h2{
    font-size: 56px;
    font-weight: 800;
    border-bottom: 2px solid var(--button);
}
#projects-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
}
.project{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 300px;
    height: 300px;
    background-color: var(--bg);
    color: var(--text);
    align-items: flex-start;
    padding: 20px;
    border: 1px solid var(--border);
    border-radius: 10px;
}
.project h3{
    margin-bottom: 7px;
}
.project-links{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 5px;
}
.project-link{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    border-radius: 12px;
    background-color: var(--button);
    width: 40px;
    height: 40px;
    border-radius: 10px;
}
#contact{
    width: 100%;
    background: var(--bg);
    margin-bottom: 80px;
    padding: 20px;
}
#contact-title{
    display: flex;
    justify-content: center;
    align-items: center;
}
#contact-title h2{
    font-size: 56px;
    font-weight: 800;
    border-bottom: 1px solid var(--button);
}
#contact-data{
    display: flex;
    flex-direction: row;
    gap: 200px;
}
.contact-infos{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 50px;
}
.contact-logo{
    background-color: var(--button);
    display: inline-flex;
    width: 40px;
    height: 40px;
    border-radius: 12px;
    padding: 12px;
    align-items: center;
    justify-content: center;
}
