<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Name - Portfolio></title>
    <link rel="stylesheet" href="l1.css">
</head>
<body>
    <!--First layout lets goo-->
    <div id="container">
        <header>
            <nav>
                <ul>
                    <li><a href="#" id="far-left"><h3>Name</h3></a></li>
                    <li class="rightt righttt"><a href="#">Home</a></li>
                    <li class="rightt"><a href="#about">About</a></li>
                    <li class="rightt"><a href="#skills">Skills</a></li>
                    <li class="rightt"><a href="#projects">Contact</a></li>
                    <li class="rightt"><a href="#contact">Contact</a></li>
                </ul>
            </nav>
        </header>

        <main>
            <div id="about">
                <div id="code-block">
                    <div class="code-header">
                        <div class="code-red"></div>
                        <div class="code-orange"></div>
                        <div class="code-green"></div>
                    </div>
                    <div class="code-content">
                        <div class="code-line">
                            <span class="keyword">console.</span>
                            <span class="string">log</span>
                            <span class="textt">("Hello, I am .....");</span>
                        </div>
                        <div class="code-line">
                            <span class="keyword">console.</span>
                            <span class="string">log</span>
                            <span class="textt">("This is my portfolio!")</span>
                        </div>
                    </div>
                </div>
            </div>
        </main>

    </div>
    
    <script></script>
</body>
</html>