<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Name - Portfolio</title>
    <link rel="stylesheet" href="l1.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    />
  </head>
  <body data-theme="normal">
    <!--First layout lets goo-->
    <div id="container">
      <header>
        <nav>
          <ul>
            <li>
              <a href="#" id="far-left"><h3>Name</h3></a>
            </li>
            <li class="rightt righttt"><a href="#">Home</a></li>
            <li class="rightt"><a href="#about">About</a></li>
            <li class="rightt"><a href="#projects">Projects</a></li>
            <li class="rightt"><a href="#contact">Contact</a></li>
          </ul>
        </nav>
      </header>

      <main>
        <div id="introoo">
          <div id="code-block">
            <div class="code-header">
              <div class="code-red"></div>
              <div class="code-orange"></div>
              <div class="code-green"></div>
            </div>
            <div class="code-content">
              <div class="code-line">
                <span class="keyword">console.</span>
                <span class="string">log</span>
                <span class="textt">("Hello, I am .....");</span>
              </div>
              <div class="code-line">
                <span class="keyword">console.</span>
                <span class="string">log</span>
                <span class="textt">("This is my portfolio!")</span>
              </div>
            </div>
          </div>
          <div id="intro">
            <h2>
              Hello, I am <br />
              <span id="name"> ....... </span>
            </h2>
            <button>Get in touch</button>
            <button>View my works</button>
          </div>
        </div>

        <div id="hero">
          <div id="title">
            <h1>About Me</h1>
          </div>
          <div id="about">
            <div id="your-image">
              <img src="" alt="Add your image here!" />
            </div>
            <div id="your-data">
              <h2>Who am I?</h2>
              <div id="your-info">
                <!--Add info about you here!-->
                <p>
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. A
                  aliquam eveniet nostrum? Aliquam, perspiciatis dolor, ab iure
                  iusto, dolores nulla enim velit porro non fugiat soluta!
                  Mollitia distinctio error voluptas.
                </p>
                <br />
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit
                  nulla aliquid placeat facilis quam inventore quae, nobis
                  minima aut veritatis quia obcaecati! A officia necessitatibus
                  consequatur corporis omnis, dolor voluptates! Laborum rerum
                  suscipit non excepturi deserunt veritatis accusamus iure ad
                  accusantium itaque! Minima ratione cupiditate dolor eligendi
                  aliquid soluta consequuntur nostrum officia velit nisi
                  pariatur excepturi nobis, laudantium delectus neque!
                </p>
              </div>
              <br />
              <div id="skills">
                <h2>Skills:</h2>
                <ul id="skils">
                  <li>HTML</li>
                  <li>CSS</li>
                  <li>JS</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div id="projects">
          <div id="projects-title">
            <h2>Projects</h2>
          </div>
          <div id="projects-content">
            <div class="project">
              <h3>Project Name</h3>
              <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Repellendus, sequi magnam ea ipsum dolorum voluptas ex
                reiciendis earum accusamus modi adipisci voluptates in
                voluptatibus laudantium, odit perferendis autem! Dolor, quasi?
              </p>
              <div class="project-links">
                <a class="project-link" href="https://github.com/..."    target="_blank" rel="noopener noreferrer">
                  <i class="fa-brands fa-github"></i>
                </a>
                <a
                  class="project-link"
                  href="https://demo.link"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <i class="fa-solid fa-arrow-up-right-from-square"></i>
                </a>
              </div>
            </div>

            <div class="project">
              <h3>Project Name</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat adipisci aliquid modi nesciunt unde architecto voluptatem. Illum eius fugiat veniam amet labore sed iste excepturi ducimus aspernatur. Nostrum, ut inventore.
              </p>
              <div class="project-links">
               <a class="project-link" href="https://github.com/..."    target="_blank" rel="noopener noreferrer">
                  <i class="fa-brands fa-github"></i>
                </a>
                <a href="https://demo.link" class="project-link" target="_blank" rel="noopener noreferrer">
                  <i class="fa-solid fa-arrow-up-right-from-square"></i>
                </a>
              </div>
            </div>

            <div class="project">
              <h3>Project Name</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat adipisci aliquid modi nesciunt unde architecto voluptatem. Illum eius fugiat veniam amet labore sed iste excepturi ducimus aspernatur. Nostrum, ut inventore.
              </p>

              <div class="project-links">
              <a class="project-link" href="https://github.com/..."    target="_blank" rel="noopener noreferrer">
                  <i class="fa-brands fa-github"></i>
                </a>
                <a href="https://demo.link" class="project-link" target="_blank" rel="noopener noreferrer">
                  <i class="fa-solid fa-arrow-up-right-from-square"></i>
                </a>
              </div>

            </div>

          </div>
        </div>


      </main>
    </div>

    <script src="l1.js"></script>
  </body>
</html>
